@import 'common';

//jumbotron
.jumbotron {
    width: 100%;
    height: 345px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
    ul {
        li {
            position: relative;
            width: 100%;
            height: 345px;
            overflow: hidden;
            outline: none;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            .video {
                position: relative;
                width: 100%;
                margin-top: 100px;
                transform: scale(3);
                -webkit-transform: scale(3);
            }
            .details {
                position: absolute;
                display: table;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 345px;
                .v-align {
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    padding-left: 10%;
                    h3 {
                        position: relative;
                        top: -30px;
                        opacity: 0;
                        font-size: 20px;
                        color: #000;
                        font-weight: 600;
                        letter-spacing: 1px;
                        @include lora();
                        @include transition($duration: 1s);
                    }
                }
            }
            &.action {
                .details {
                    .v-align {
                        h3 {
                            top: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// special-agent
.special-agent {
    padding: 30px 10px;
    small {
        position: relative;
        top: -30px;
        opacity: 0;
        @include transition($duration: .8s, $delay: .5s);
        display: block;
        font-size: 11px;
        color: #588973;
        font-weight: 500;
        letter-spacing: .5px;
    }
    h3 {
        position: relative;
        top: -30px;
        opacity: 0;
        @include transition($duration: .8s, $delay: 1s);
        font-size: 18px;
        color: #2b2b2b;
        line-height: 26px;
        letter-spacing: .5px;
        font-weight: 600;
        @include lora();
        margin: 20px 0 30px;
    }
    p {
        position: relative;
        top: -30px;
        opacity: 0;
        @include transition($duration: .8s, $delay: 1.5s);
        font-size: 12px;
        color: #666;
        letter-spacing: .5px;
        line-height: 18px;
    }
    ul {
        position: relative;
        top: -30px;
        opacity: 0;
        @include transition($duration: .8s, $delay: 2s);
        margin-top: 25px;
        > li {
            > a {
                position: relative;
                width: 100px;
                font-size: 11px;
                color: #bbb;
                font-style: italic;
                display: block;
                line-height: 24px;
                font-weight: 500;
                @include transition();
                @include ptserif();
                &:after {
                    float: right;
                    content: "\E800";
                    font-family: "fontello";
                }
                &:focus {
                    color: #fe4d00;
                    &:before {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        content: " ";
                        display: block;
                        border-bottom: 1px solid #fe4d00;
                    }
                }
            }
        }
    }
    &.on {
        small {
            opacity: 1;
            top: 0;
        }
        h3 {
            opacity: 1;
            top: 0;
        }
        p {
            opacity: 1;
            top: 0;
        }
        ul {
            opacity: 1;
            top: 0;
        }
    }
}


// brand-value
.brand-value {
    padding: 30px 0;
    text-align: center;
    background-image: url(/mobile/assets/images/main/bg_brand_value.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    small {
        font-size: 11px;
        color: #fff;
        font-weight: 500;
        display: block;
    }
    h3 {
        font-size: 17px;
        color: #fff;
        line-height: 26px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 15px;
        @include lora();
    }
    p {
        font-size: 12px;
        color: #fff;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: .5px;
        margin-top: 25px;
    }
    .btn-more {
        margin-top: 20px;
        text-align: center;
        .btn-default {
            font-size: 10px;
            color: rgba(#fff, .5);
            display: inline-block;
            font-style: italic;
            letter-spacing: .5px;
            @include ptserif();
        }
    }
}

// our-shops
.our-shops {
    padding: 30px 0 40px;
    h3 {
        font-size: 16px;
        color: #2b2b2b;
        font-weight: 600;
        @include lora();
        letter-spacing: .5px;
        margin-bottom: 15px;
    }
    .shop-slider {
        position: relative;
        li {
            outline: none;
            .item-img {
                figure {
                    .img-fluid {
                        width: 100%;
                    }
                }
            }
            .details {
                position: relative;
                width: 100%;
                margin-top: -24px;
                padding: 0 50px 0 20px;
                > div {
                    background-color: #fff;
                    padding: 15px 20px;
                    h4 {
                        font-size: 13px;
                        color: #2b2b2b;
                        font-weight: 600;
                        @include lora();
                        margin-bottom: 10px;
                        letter-spacing: .5px;
                    }
                    .btn-more {
                        .btn-default {
                            font-size: 10px;
                            color: #fe4d00;
                            font-style: italic;
                            letter-spacing: .5px;
                            @include ptserif();
                        }
                    }
                }
            }
        }
    }
    .slick-dots {
        position: absolute;
        top: -30px;
        right: 0;
        li {
            display: inline-block;
            button {
                display: block;
                width: 12px;
                height: 12px;
                margin: 0 5px;
                padding: 0;
                text-indent: -9999px;
                border-radius: 50%;
                background: none;
                border: 1px solid #bad4e3;
            }
            &.slick-active {
                button {
                    border-color: #588973;
                    background-color: #588973;
                }
            }
        }
    }
}

// office
.office {
    article {
        padding: 20px 10px 30px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        small {
            display: block;
            font-weight: 400;
            color: rgba(255, 255, 255, .5);
            letter-spacing: .5px;
            font-size: 11px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 17px;
            color: #fff;
            font-weight: 600;
            @include lora();
            letter-spacing: .5px;
        }
        address {
            display: block;
            font-size: 12px;
            line-height: 18px;
            color: #fff;
            margin-top: 20px;
        }
        &.seoul-office {
            background-image: url(/mobile/assets/images/main/bg_seoul_office.jpg);
        }
        &.japan-office {
            background-image: url(/mobile/assets/images/main/bg_japan_office.jpg);
            small {
                color: rgba(43, 43, 43, .5);
            }
            h3 {
                color: #2b2b2b;
            }
            address {
                color: #333;
            }
        }
        &.warehouse {
            background-image: url(/mobile/assets/images/main/bg_warehouse.jpg);
        }
    }
}

// our-brands
.our-partners {
    padding: 30px 0;
    .partners-area {
        position: relative;
        h3 {
            font-size: 16px;
            color: #2b2b2b;
            font-weight: 600;
            margin-bottom: 15px;
            @include lora();
            letter-spacing: .5px;
        }
        ul {
            position: static;
            li {
                a {
                    display: block;
                    border: 1px solid #ebebeb;
                    figure {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .slick-dots {
            position: absolute;
            top: 5px;
            right: 0;
            li {
                display: inline-block;
                button {
                    display: block;
                    width: 12px;
                    height: 12px;
                    margin: 0 5px;
                    padding: 0;
                    text-indent: -9999px;
                    border-radius: 50%;
                    background: none;
                    border: 1px solid #bad4e3;
                }
                &.slick-active {
                    button {
                        border-color: #588973;
                        background-color: #588973;
                    }
                }
            }
        }
    }
}