@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url(/mobile/assets/css/font/lora.css);
@import url("/mobile/assets/css/font/pt.css");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  border: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container {
  max-width: 100% !important;
  padding: 0 10px !important; }
  .container .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12 {
      padding-left: 5px;
      padding-right: 5px; }

.jumbotron {
  width: 100%;
  height: 345px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none; }
  .jumbotron ul li {
    position: relative;
    width: 100%;
    height: 345px;
    overflow: hidden;
    outline: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .jumbotron ul li .video {
      position: relative;
      width: 100%;
      margin-top: 100px;
      transform: scale(3);
      -webkit-transform: scale(3); }
    .jumbotron ul li .details {
      position: absolute;
      display: table;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 345px; }
      .jumbotron ul li .details .v-align {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        padding-left: 10%; }
        .jumbotron ul li .details .v-align h3 {
          position: relative;
          top: -30px;
          opacity: 0;
          font-size: 20px;
          color: #000;
          font-weight: 600;
          letter-spacing: 1px;
          font-family: 'Lora', serif;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .jumbotron ul li .details .v-align h3.white-txt {
            color: #fff; }
    .jumbotron ul li.action .details .v-align h3 {
      top: 0;
      opacity: 1; }

.special-agent {
  padding: 30px 10px; }
  .special-agent small {
    position: relative;
    top: -30px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    display: block;
    font-size: 11px;
    color: #588973;
    font-weight: 500;
    letter-spacing: .5px; }
  .special-agent h3 {
    position: relative;
    top: -30px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    font-size: 18px;
    color: #2b2b2b;
    line-height: 26px;
    letter-spacing: .5px;
    font-weight: 600;
    font-family: 'Lora', serif;
    margin: 20px 0 30px; }
  .special-agent p {
    position: relative;
    top: -30px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
    font-size: 12px;
    color: #666;
    letter-spacing: .5px;
    line-height: 18px; }
  .special-agent ul {
    position: relative;
    top: -30px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    margin-top: 25px; }
    .special-agent ul > li > a {
      position: relative;
      width: 100px;
      font-size: 11px;
      color: #bbb;
      font-style: italic;
      display: block;
      line-height: 24px;
      font-weight: 500;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      font-family: 'PT Serif', serif; }
      .special-agent ul > li > a:after {
        float: right;
        content: "\E800";
        font-family: "fontello"; }
      .special-agent ul > li > a:focus {
        color: #fe4d00; }
        .special-agent ul > li > a:focus:before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          content: " ";
          display: block;
          border-bottom: 1px solid #fe4d00; }
  .special-agent.on small {
    opacity: 1;
    top: 0; }
  .special-agent.on h3 {
    opacity: 1;
    top: 0; }
  .special-agent.on p {
    opacity: 1;
    top: 0; }
  .special-agent.on ul {
    opacity: 1;
    top: 0; }

.brand-value {
  padding: 30px 0;
  text-align: center;
  background-image: url(/mobile/assets/images/main/bg_brand_value.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%; }
  .brand-value small {
    font-size: 11px;
    color: #fff;
    font-weight: 500;
    display: block; }
  .brand-value h3 {
    font-size: 17px;
    color: #fff;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: 'Lora', serif; }
  .brand-value p {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 25px; }
  .brand-value .btn-more {
    margin-top: 20px;
    text-align: center; }
    .brand-value .btn-more .btn-default {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.5);
      display: inline-block;
      font-style: italic;
      letter-spacing: .5px;
      font-family: 'PT Serif', serif; }

.our-shops {
  padding: 30px 0 40px; }
  .our-shops h3 {
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 600;
    font-family: 'Lora', serif;
    letter-spacing: .5px;
    margin-bottom: 15px; }
  .our-shops .shop-slider {
    position: relative; }
    .our-shops .shop-slider li {
      outline: none; }
      .our-shops .shop-slider li .item-img figure .img-fluid {
        width: 100%; }
      .our-shops .shop-slider li .details {
        position: relative;
        width: 100%;
        margin-top: -24px;
        padding: 0 50px 0 20px; }
        .our-shops .shop-slider li .details > div {
          background-color: #fff;
          padding: 15px 20px; }
          .our-shops .shop-slider li .details > div h4 {
            font-size: 13px;
            color: #2b2b2b;
            font-weight: 600;
            font-family: 'Lora', serif;
            margin-bottom: 10px;
            letter-spacing: .5px; }
          .our-shops .shop-slider li .details > div .btn-more .btn-default {
            font-size: 10px;
            color: #fe4d00;
            font-style: italic;
            letter-spacing: .5px;
            font-family: 'PT Serif', serif; }
  .our-shops .slick-dots {
    position: absolute;
    top: -30px;
    right: 0; }
    .our-shops .slick-dots li {
      display: inline-block; }
      .our-shops .slick-dots li button {
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        padding: 0;
        text-indent: -9999px;
        border-radius: 50%;
        background: none;
        border: 1px solid #bad4e3; }
      .our-shops .slick-dots li.slick-active button {
        border-color: #588973;
        background-color: #588973; }

.office article {
  padding: 20px 10px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .office article small {
    display: block;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: .5px;
    font-size: 11px;
    margin-bottom: 15px; }
  .office article h3 {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lora', serif;
    letter-spacing: .5px; }
  .office article address {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin-top: 20px; }
  .office article.seoul-office {
    background-image: url(/mobile/assets/images/main/bg_seoul_office.jpg); }
  .office article.japan-office {
    background-image: url(/mobile/assets/images/main/bg_japan_office.jpg); }
    .office article.japan-office small {
      color: rgba(43, 43, 43, 0.5); }
    .office article.japan-office h3 {
      color: #2b2b2b; }
    .office article.japan-office address {
      color: #333; }
  .office article.warehouse {
    background-image: url(/mobile/assets/images/main/bg_warehouse.jpg); }

.our-partners {
  padding: 30px 0; }
  .our-partners .partners-area {
    position: relative; }
    .our-partners .partners-area h3 {
      font-size: 16px;
      color: #2b2b2b;
      font-weight: 600;
      margin-bottom: 15px;
      font-family: 'Lora', serif;
      letter-spacing: .5px; }
    .our-partners .partners-area ul {
      position: static; }
      .our-partners .partners-area ul li a {
        display: block;
        border: 1px solid #ebebeb; }
        .our-partners .partners-area ul li a figure img {
          width: 100%; }
    .our-partners .partners-area .slick-dots {
      position: absolute;
      top: 5px;
      right: 0; }
      .our-partners .partners-area .slick-dots li {
        display: inline-block; }
        .our-partners .partners-area .slick-dots li button {
          display: block;
          width: 12px;
          height: 12px;
          margin: 0 5px;
          padding: 0;
          text-indent: -9999px;
          border-radius: 50%;
          background: none;
          border: 1px solid #bad4e3; }
        .our-partners .partners-area .slick-dots li.slick-active button {
          border-color: #588973;
          background-color: #588973; }

.btn-popup {
  display: block;
  padding: 0;
  width: 100px;
  line-height: 36px;
  text-align: center;
  font-size: 13px;
  color: #000;
  background-color: #999; }

#main-popup .modal-dialog {
  margin-top: 80px;
  margin-bottom: 80px; }
  #main-popup .modal-dialog .modal-content {
    border: 0;
    border-radius: 0;
    background: none; }
    #main-popup .modal-dialog .modal-content .modal-body {
      position: relative;
      border: 0;
      padding: 0; }
      #main-popup .modal-dialog .modal-content .modal-body .slick-dots {
        position: absolute;
        bottom: 10px;
        right: 0; }
        #main-popup .modal-dialog .modal-content .modal-body .slick-dots li {
          display: inline-block; }
          #main-popup .modal-dialog .modal-content .modal-body .slick-dots li button {
            width: 14px;
            height: 14px;
            padding: 0;
            margin: 0 3px;
            display: block;
            text-indent: -99999px;
            background: none;
            border-radius: 50%;
            border: 1px solid #fff; }
          #main-popup .modal-dialog .modal-content .modal-body .slick-dots li.slick-active button {
            border: 1px solid #ff7f00;
            background-color: #ff7f00; }
    #main-popup .modal-dialog .modal-content .modal-footer {
      overflow: hidden;
      border: 0;
      padding: 0;
      margin-top: 15px; }
      #main-popup .modal-dialog .modal-content .modal-footer label {
        /*float: left;*/
        font-size: 13px;
        color: #fff;
        line-height: 30px;
        margin-right: auto; }
        #main-popup .modal-dialog .modal-content .modal-footer label input {
          position: relative;
          top: 2px;
          margin-right: 5px; }
      #main-popup .modal-dialog .modal-content .modal-footer .btn-close {
        float: right;
        padding: 5px 10px;
        color: #fff;
        font-size: 13px;
        background-color: #999; }

/*# sourceMappingURL=main.css.map */
