@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }

.container {
  max-width: 1200px !important; }

body {
  position: relative;
  min-width: 1200px;
  font-size: 15px;
  color: #666;
  font-weight: 400;
  padding-top: 100px;
  font-family: 'Maven Pro', sans-serif; }

.jumbotron {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  border-radius: 0;
  background: none; }
  .jumbotron .visual-slider li {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 970px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .jumbotron .visual-slider li .video {
      width: 100%;
      transform: scale(1.7);
      -webkit-transform: scale(1.7); }
      @media (min-width: 1400px) {
        .jumbotron .visual-slider li .video {
          transform: scale(1.45);
          -webkit-transform: scale(1.45); } }
    .jumbotron .visual-slider li .slogan {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .jumbotron .visual-slider li .slogan .table-box {
        display: table;
        width: 1200px;
        height: 100%;
        margin: 0 auto; }
        .jumbotron .visual-slider li .slogan .table-box .v-align {
          display: table-cell;
          height: 100%;
          vertical-align: middle; }
          .jumbotron .visual-slider li .slogan .table-box .v-align h3 {
            position: relative;
            font-size: 60px;
            color: #000;
            opacity: 0;
            top: -50px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            font-family: 'Lora', serif; }
    .jumbotron .visual-slider li.action .slogan .table-box .v-align h3 {
      top: 0;
      opacity: 1; }
  .jumbotron .control-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    height: 100px;
    width: 65%;
    background-color: #fff;
    text-align: left; }
    .jumbotron .control-btn button {
      position: relative;
      width: 100px;
      height: 100px;
      cursor: pointer;
      font-size: 32px;
      color: #2b2b2b;
      line-height: 100px;
      text-align: center;
      z-index: 1;
      padding: 0;
      border: 0;
      outline: none;
      background: none; }
    .jumbotron .control-btn .slick-next {
      margin-left: 100px; }

.special-agent {
  overflow: hidden;
  padding: 100px 0;
  clear: both; }
  .special-agent .container-fluid {
    width: 1200px !important;
    overflow: hidden;
    margin: 0 auto; }
    @media (min-width: 1400px) {
      .special-agent .container-fluid {
        overflow: auto;
        width: 1400px !important; } }
    .special-agent .container-fluid article {
      float: right;
      min-width: 1300px;
      /*display: inline-block;*/ }
      .special-agent .container-fluid article ~ article {
        position: relative;
        margin-top: 30px;
        min-width: 1210px; }
      @media (min-width: 1400px) {
        .special-agent .container-fluid article {
          display: inline-block; } }
      .special-agent .container-fluid article figure {
        float: left; }
      .special-agent .container-fluid article .details {
        float: left;
        margin-left: 50px; }
        @media (min-width: 1450px) {
          .special-agent .container-fluid article .details {
            margin-left: 100px; } }
        .special-agent .container-fluid article .details small {
          position: relative;
          display: block;
          font-size: 23px;
          color: #588973;
          font-weight: 500;
          margin-top: -10px; }
        .special-agent .container-fluid article .details h3 {
          font-size: 46px;
          color: #2b2b2b;
          font-weight: 400;
          margin-top: 40px;
          line-height: 64px;
          font-family: 'Lora', serif; }
        .special-agent .container-fluid article .details p {
          position: relative;
          font-size: 18px;
          color: #666;
          font-weight: 300;
          line-height: 30px;
          margin-top: -40px; }
        .special-agent .container-fluid article .details ul {
          position: absolute;
          bottom: 10px; }
          .special-agent .container-fluid article .details ul li a {
            position: relative;
            display: inline-block;
            width: 130px;
            font-size: 16px;
            color: #bbb;
            font-style: italic;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 1px;
            font-family: 'PT Serif', serif;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .special-agent .container-fluid article .details ul li a:after {
              font-family: "fontello";
              content: "\E800";
              float: right;
              font-style: normal; }
            .special-agent .container-fluid article .details ul li a span {
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 1px;
              background-color: #fe4d00;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .special-agent .container-fluid article .details ul li a:hover {
              color: #fe4d00; }
              .special-agent .container-fluid article .details ul li a:hover span {
                width: 100%;
                margin-left: -50%; }
      .special-agent .container-fluid article:first-child {
        position: relative;
        z-index: 1; }

.brand-value {
  text-align: center;
  padding: 90px 0 80px;
  background-image: url(/assets/images/main/bg_brand_value.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .brand-value h3 {
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Lora', serif; }
    .brand-value h3 small {
      display: block;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
      font-family: 'Maven Pro', sans-serif; }
  .brand-value p {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-top: 50px;
    font-family: 'Maven Pro', sans-serif; }
  .brand-value .btn-more {
    margin-top: 60px; }
    .brand-value .btn-more .btn-default {
      position: relative;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: .5px;
      border: 0;
      color: rgba(255, 255, 255, 0.5);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      font-family: 'PT Serif', serif; }
      .brand-value .btn-more .btn-default span {
        position: absolute;
        bottom: -5px;
        left: 50%;
        height: 1px;
        width: 0;
        background-color: #fff;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .brand-value .btn-more .btn-default:hover {
        color: #fff; }
        .brand-value .btn-more .btn-default:hover span {
          width: 100%;
          margin-left: -50%; }

.our-shops {
  padding: 90px 0; }
  .our-shops h3 {
    display: inline-block;
    font-size: 36px;
    color: #2b2b2b;
    font-weight: 400;
    font-family: 'Lora', serif;
    margin-bottom: 30px; }
  .our-shops .shops-list {
    position: relative; }
    .our-shops .shops-list .slick-dots {
      position: absolute;
      top: -40px;
      right: 15px; }
      .our-shops .shops-list .slick-dots li {
        display: inline-block;
        margin: 0 5px; }
        .our-shops .shops-list .slick-dots li button {
          display: block;
          width: 15px;
          height: 15px;
          padding: 0;
          margin: 0;
          outline: none;
          cursor: pointer;
          background: none;
          border-radius: 50%;
          border: 1px solid #bad4e3;
          text-indent: -999999px; }
        .our-shops .shops-list .slick-dots li:last-child {
          margin-right: 0; }
        .our-shops .shops-list .slick-dots li.slick-active button {
          border-color: #588973;
          background-color: #588973; }
    .our-shops .shops-list ul {
      overflow: visible; }
      .our-shops .shops-list ul li {
        outline: none; }
        .our-shops .shops-list ul li figure img {
          width: 100%; }
        .our-shops .shops-list ul li figure figcaption {
          position: relative;
          display: block;
          padding: 0 30px; }
          .our-shops .shops-list ul li figure figcaption > div {
            position: relative;
            z-index: 1;
            padding: 25px 20px;
            width: 100%;
            margin-top: -35px;
            background-color: #fff; }
            .our-shops .shops-list ul li figure figcaption > div h4 {
              font-size: 20px;
              color: #2b2b2b;
              font-weight: 500;
              font-family: 'Lora', serif; }
            .our-shops .shops-list ul li figure figcaption > div .btn-default {
              position: relative;
              font-size: 13px;
              color: #bbb;
              font-weight: 400;
              font-style: italic;
              letter-spacing: .5px;
              margin-top: 10px;
              font-family: 'PT Serif', serif; }
              .our-shops .shops-list ul li figure figcaption > div .btn-default:before {
                position: absolute;
                overflow: hidden;
                width: 0;
                content: attr(data-item);
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
              .our-shops .shops-list ul li figure figcaption > div .btn-default:hover:before {
                width: 100%;
                color: #fe4d00; }

.office-info {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-width: 1200px; }
  .office-info > article {
    display: table-cell;
    width: 33.33%;
    height: 450px;
    color: #fff;
    vertical-align: top;
    text-align: left;
    padding: 60px 55px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .office-info > article small {
      display: block;
      font-size: 13px;
      font-family: 'Maven Pro', sans-serif;
      font-weight: 500;
      margin-bottom: 20px;
      color: rgba(255, 255, 255, 0.5); }
    .office-info > article h3 {
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: 'Lora', serif;
      margin-bottom: 40px; }
    .office-info > article address {
      display: block;
      font-size: 15px;
      font-weight: 300;
      line-height: 26px; }
    .office-info > article.seoul {
      background-image: url(/assets/images/main/bg_office01.jpg); }
    .office-info > article.japan {
      color: #2b2b2b;
      background-image: url(/assets/images/main/bg_office02.jpg); }
      .office-info > article.japan small {
        color: rgba(43, 43, 43, 0.5); }
      .office-info > article.japan address {
        color: #333; }
    .office-info > article.warehouse {
      background-image: url(/assets/images/main/bg_office03.jpg); }

.our-brands {
  padding: 90px 0; }
  .our-brands h3 {
    display: inline-block;
    font-size: 36px;
    color: #2b2b2b;
    font-weight: 400;
    font-family: 'Lora', serif;
    margin-bottom: 30px; }
  .our-brands .brand-list {
    position: relative; }
    .our-brands .brand-list .slick-dots {
      position: absolute;
      top: -40px;
      right: 15px; }
      .our-brands .brand-list .slick-dots li {
        display: inline-block;
        margin: 0 5px; }
        .our-brands .brand-list .slick-dots li button {
          display: block;
          width: 15px;
          height: 15px;
          padding: 0;
          margin: 0;
          outline: none;
          cursor: pointer;
          background: none;
          border-radius: 50%;
          border: 1px solid #bad4e3;
          text-indent: -999999px; }
        .our-brands .brand-list .slick-dots li:last-child {
          margin-right: 0; }
        .our-brands .brand-list .slick-dots li.slick-active button {
          border-color: #588973;
          background-color: #588973; }
    .our-brands .brand-list ul {
      overflow: visible; }
      .our-brands .brand-list ul li a {
        display: block;
        border: 1px solid #ebebeb; }
        .our-brands .brand-list ul li a figure img {
          width: 100%; }

/*# sourceMappingURL=main.css.map */
