@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url(/assets/css/font/lora.css);
@import url("/assets/css/font/pt.css");
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

label {
  margin: 0;
  font-weight: 400; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important; }

.form-group {
  margin: 0; }

.form-control {
  border-radius: 0;
  box-shadow: none !important; }

.container .row,
.container-fluid .row {
  overflow: hidden; }
  .container .row .col-1,
  .container .row .col-md-1,
  .container .row .col-lg-1,
  .container-fluid .row .col-1,
  .container-fluid .row .col-md-1,
  .container-fluid .row .col-lg-1 {
    float: left; }
  .container .row .col-2,
  .container .row .col-md-2,
  .container .row .col-lg-2,
  .container-fluid .row .col-2,
  .container-fluid .row .col-md-2,
  .container-fluid .row .col-lg-2 {
    float: left; }
  .container .row .col-3,
  .container .row .col-md-3,
  .container .row .col-lg-3,
  .container-fluid .row .col-3,
  .container-fluid .row .col-md-3,
  .container-fluid .row .col-lg-3 {
    float: left; }
  .container .row .col-4,
  .container .row .col-md-4,
  .container .row .col-lg-4,
  .container-fluid .row .col-4,
  .container-fluid .row .col-md-4,
  .container-fluid .row .col-lg-4 {
    float: left; }
  .container .row .col-5,
  .container .row .col-md-5,
  .container .row .col-lg-5,
  .container-fluid .row .col-5,
  .container-fluid .row .col-md-5,
  .container-fluid .row .col-lg-5 {
    float: left; }
  .container .row .col-6,
  .container .row .col-md-6,
  .container .row .col-lg-6,
  .container-fluid .row .col-6,
  .container-fluid .row .col-md-6,
  .container-fluid .row .col-lg-6 {
    float: left; }
  .container .row .col-7,
  .container .row .col-md-7,
  .container .row .col-lg-7,
  .container-fluid .row .col-7,
  .container-fluid .row .col-md-7,
  .container-fluid .row .col-lg-7 {
    float: left; }
  .container .row .col-8,
  .container .row .col-md-8,
  .container .row .col-lg-8,
  .container-fluid .row .col-8,
  .container-fluid .row .col-md-8,
  .container-fluid .row .col-lg-8 {
    float: left; }
  .container .row .col-9,
  .container .row .col-md-9,
  .container .row .col-lg-9,
  .container-fluid .row .col-9,
  .container-fluid .row .col-md-9,
  .container-fluid .row .col-lg-9 {
    float: left; }
  .container .row .col-10,
  .container .row .col-md-10,
  .container .row .col-lg-10,
  .container-fluid .row .col-10,
  .container-fluid .row .col-md-10,
  .container-fluid .row .col-lg-10 {
    float: left; }
  .container .row .col-11,
  .container .row .col-md-11,
  .container .row .col-lg-11,
  .container-fluid .row .col-11,
  .container-fluid .row .col-md-11,
  .container-fluid .row .col-lg-11 {
    float: left; }
  .container .row .col-12,
  .container .row .col-md-12,
  .container .row .col-lg-12,
  .container-fluid .row .col-12,
  .container-fluid .row .col-md-12,
  .container-fluid .row .col-lg-12 {
    float: left; }

.container {
  max-width: 1200px !important; }

body {
  position: relative;
  min-width: 1200px;
  font-size: 15px;
  color: #666;
  font-weight: 400;
  padding-top: 100px;
  font-family: 'Maven Pro', sans-serif; }

section {
  padding: 90px 0; }

.section-header {
  padding-bottom: 40px; }
  .section-header h4 {
    font-size: 36px;
    color: #2b2b2b;
    font-weight: 400;
    font-family: 'Lora', serif; }

.sub {
  padding-top: 100px; }

.introduce .page-header {
  position: relative;
  padding: 150px 0 320px;
  background-image: url(/assets/images/introduction/bg_page_header.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .introduce .page-header small {
    position: relative;
    opacity: 0;
    top: -50px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    font-size: 23px;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 30px; }
  .introduce .page-header h3 {
    position: relative;
    opacity: 0;
    top: -50px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    font-size: 46px;
    color: #000;
    line-height: 58px;
    font-weight: 500;
    font-family: 'Lora', serif; }
  .introduce .page-header .summary {
    position: relative;
    opacity: 0;
    top: -50px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
    font-size: 19px;
    color: #000;
    font-weight: 400;
    line-height: 30px;
    margin-top: 70px; }
  .introduce .page-header .slogan {
    position: absolute;
    bottom: -201px;
    right: 0;
    opacity: 0;
    width: 60%;
    height: 202px;
    padding: 50px;
    background-color: rgba(39, 77, 95, 0.95);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s; }
    .introduce .page-header .slogan > p {
      position: relative;
      opacity: 0;
      right: -50px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.5s;
      transition-delay: 1.5s;
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      line-height: 34px;
      text-align: left;
      font-family: 'Lora', serif; }
  .introduce .page-header.action small {
    top: 0;
    opacity: 1; }
  .introduce .page-header.action h3 {
    top: 0;
    opacity: 1; }
  .introduce .page-header.action .summary {
    top: 0;
    opacity: 1; }
  .introduce .page-header.action .slogan {
    bottom: -101px;
    opacity: 1; }
    .introduce .page-header.action .slogan > p {
      right: 0;
      opacity: 1; }
.introduce .mission-vision {
  padding: 160px 0 100px;
  background-color: #ecedef; }
  .introduce .mission-vision .section-content article .item-img {
    overflow: hidden; }
    .introduce .mission-vision .section-content article .item-img figure {
      transform: scale(1);
      -webkit-transform: scale(1);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .introduce .mission-vision .section-content article .item-img figure .img-fliud {
        width: 100%; }
  .introduce .mission-vision .section-content article .details {
    display: block;
    padding: 40px;
    background-color: #f7f7f7; }
    .introduce .mission-vision .section-content article .details h5 {
      font-size: 22px;
      color: #2b2b2b;
      font-family: 'Lora', serif; }
    .introduce .mission-vision .section-content article .details p {
      font-size: 18px;
      color: #666;
      line-height: 30px;
      font-weight: 400;
      margin-top: 30px;
      letter-spacing: -.5px; }
  .introduce .mission-vision .section-content article figure .img-fluid {
    width: 100%; }
  .introduce .mission-vision .section-content article:hover .item-img figure {
    transform: scale(1.1);
    -webkit-transform: scale(1.1); }
.introduce .history .section-content ol li ~ li {
  margin-top: 20px; }
.introduce .history .section-content ol li dl {
  /*overflow: hidden;*/
  display: table;
  width: 100%;
  table-layout: fixed; }
  .introduce .history .section-content ol li dl dt {
    position: relative;
    /*float: left;*/
    display: table-cell;
    width: 200px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 70px;
    text-align: center;
    background-color: #8aac9d;
    font-family: 'Lora', serif;
    vertical-align: middle;
    letter-spacing: 3px; }
    .introduce .history .section-content ol li dl dt:after {
      position: absolute;
      top: 50%;
      right: -75px;
      content: " ";
      display: block;
      height: 1px;
      width: 75px;
      background-color: #bfbfbf; }
    .introduce .history .section-content ol li dl dt .circle {
      position: absolute;
      top: 50%;
      right: -75px;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border-radius: 50%;
      background-color: #bfbfbf; }
  .introduce .history .section-content ol li dl dd {
    display: table-cell;
    font-size: 18px;
    color: #666;
    vertical-align: middle;
    font-weight: 400;
    padding-left: 100px;
    line-height: 28px; }
.introduce .history .section-content ol li:nth-of-type(odd) dl dt {
  background-color: #588973; }

.work .page-header {
  position: relative;
  overflow: hidden; }
  .work .page-header figure {
    position: relative;
    left: -50px;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .work .page-header .slogan {
    position: absolute;
    top: 90px;
    right: -50px;
    width: 55%;
    padding: 100px;
    background-color: rgba(244, 244, 244, 0.85);
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
    .work .page-header .slogan small {
      position: relative;
      top: -50px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.4s;
      transition-delay: 1.4s;
      font-size: 23px;
      color: #000;
      font-weight: 500;
      display: block;
      margin-bottom: 30px; }
    .work .page-header .slogan h3 {
      position: relative;
      top: -50px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 1.8s;
      transition-delay: 1.8s;
      font-size: 46px;
      color: #000;
      line-height: 58px;
      font-weight: 500;
      font-family: 'Lora', serif; }
    .work .page-header .slogan p {
      position: relative;
      top: -50px;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 2.2s;
      transition-delay: 2.2s;
      font-size: 19px;
      color: #000;
      font-weight: 400;
      line-height: 30px;
      margin-top: 70px; }
  .work .page-header.action figure {
    left: 0;
    opacity: 1; }
  .work .page-header.action .slogan {
    right: 0;
    opacity: 1; }
    .work .page-header.action .slogan small {
      top: 0;
      opacity: 1; }
    .work .page-header.action .slogan h3 {
      top: 0;
      opacity: 1; }
    .work .page-header.action .slogan p {
      top: 0;
      opacity: 1; }
.work .process .section-content ul li {
  position: relative;
  text-align: center; }
  .work .process .section-content ul li .item-icon {
    display: block;
    width: 250px;
    height: 250px;
    line-height: 250px;
    margin: 0 auto;
    border-radius: 50%; }
    .work .process .section-content ul li .item-icon img {
      display: inline-block; }
  .work .process .section-content ul li:after {
    position: absolute;
    top: 100px;
    right: -14px;
    content: url(/assets/images/business/icon_step_arrow.png); }
  .work .process .section-content ul li:last-child:after {
    content: ""; }
  .work .process .section-content ul li:nth-of-type(1) .item-icon {
    background-color: #798573; }
  .work .process .section-content ul li:nth-of-type(2) .item-icon {
    background-color: #6f828c; }
  .work .process .section-content ul li:nth-of-type(3) .item-icon {
    background-color: #2b3646; }
  .work .process .section-content ul li .details {
    margin-top: 30px;
    text-align: center; }
    .work .process .section-content ul li .details dl dt {
      font-size: 30px;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 1px;
      color: #2b2b2b;
      font-family: 'Lora', serif;
      margin-bottom: 20px; }
    .work .process .section-content ul li .details dl dd {
      font-size: 18px;
      color: #666;
      line-height: 30px;
      font-weight: 400; }

.brand-list {
  min-height: 870px;
  padding: 120px 0;
  background-image: url(/assets/images/brand/bg_brands.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .brand-list .list-header small {
    display: block;
    font-size: 23px;
    color: #1b1b1b;
    font-weight: 500;
    margin-bottom: 30px; }
  .brand-list .list-header h3 {
    font-size: 46px;
    color: #1b1b1b;
    line-height: 60px;
    letter-spacing: 1px;
    font-family: 'Lora', serif; }
  .brand-list .list-header p {
    font-size: 19px;
    color: #555;
    font-weight: 400;
    margin-top: 70px; }
  .brand-list .section-content {
    margin-top: 90px; }
    .brand-list .section-content ul li a {
      display: block; }
      .brand-list .section-content ul li a figure img {
        width: 100%; }
    .brand-list .section-content ul li:nth-of-type(6) ~ li a {
      margin-top: 30px; }

#brand-popup {
  background-color: rgba(0, 0, 0, 0.7); }
  #brand-popup .modal-dialog {
    max-width: 1170px;
    width: 1170px;
    margin-top: 170px;
    margin-bottom: 170px; }
    #brand-popup .modal-dialog .modal-content {
      border: 0;
      box-shadow: none !important;
      background: none; }
      #brand-popup .modal-dialog .modal-content .modal-body {
        position: relative;
        overflow: hidden;
        width: auto;
        height: 100%;
        padding: 0; }
        #brand-popup .modal-dialog .modal-content .modal-body .close {
          position: absolute;
          top: 0;
          right: 0;
          float: none;
          width: 60px;
          height: 60px;
          display: block;
          z-index: 1;
          text-align: center;
          padding: 0;
          opacity: 1 !important;
          border-radius: 0;
          background-color: #798573; }
          #brand-popup .modal-dialog .modal-content .modal-body .close img {
            display: block;
            margin: 0 auto; }
        #brand-popup .modal-dialog .modal-content .modal-body figure {
          float: left;
          width: 750px; }
        #brand-popup .modal-dialog .modal-content .modal-body .details {
          float: left;
          width: 240px;
          height: 650px;
          padding: 80px 50px 50px;
          width: 420px;
          overflow-y: scroll;
          vertical-align: top;
          background-color: #fff; }
          #brand-popup .modal-dialog .modal-content .modal-body .details h4 {
            font-size: 0; }
            #brand-popup .modal-dialog .modal-content .modal-body .details h4 img {
              display: block;
              margin: 0 auto; }
          #brand-popup .modal-dialog .modal-content .modal-body .details p {
            font-size: 13px;
            color: #666;
            font-weight: 300;
            word-break: keep-all;
            line-height: 26px;
            margin: 30px 0 50px; }
          #brand-popup .modal-dialog .modal-content .modal-body .details a {
            display: block;
            font-size: 13px;
            color: #666;
            font-weight: 400; }
            #brand-popup .modal-dialog .modal-content .modal-body .details a:before {
              margin-right: 10px;
              content: "\E802";
              font-family: "fontello"; }

.shop-list {
  position: relative;
  padding: 90px 0 130px; }
  .shop-list .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: url(/assets/images/shop/bg_shop.jpg);
    background-position: 0 0; }
  .shop-list .section-header {
    position: relative;
    z-index: 1;
    padding-bottom: 60px; }
  .shop-list .section-content {
    position: relative;
    z-index: 1; }
    .shop-list .section-content .tab-list > ul > li {
      display: inline-block;
      text-align: center; }
      .shop-list .section-content .tab-list > ul > li > a {
        position: relative;
        display: inline-block;
        font-size: 19px;
        color: #555;
        font-weight: 400;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .shop-list .section-content .tab-list > ul > li > a span {
          position: absolute;
          bottom: 0;
          width: 0;
          left: 50%;
          height: 2px;
          border-top: 1px solid #f87339;
          border-bottom: 1px solid #edc1af;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .shop-list .section-content .tab-list > ul > li > a:hover {
          color: #fe4d00;
          opacity: .7; }
          .shop-list .section-content .tab-list > ul > li > a:hover span {
            width: 100%;
            margin-left: -50%; }
      .shop-list .section-content .tab-list > ul > li:after {
        display: inline-block;
        content: "/";
        margin: 0 10px 0 12px; }
      .shop-list .section-content .tab-list > ul > li:last-child:after {
        content: "";
        margin: 0; }
      .shop-list .section-content .tab-list > ul > li.active a {
        color: #fe4d00;
        opacity: 1; }
        .shop-list .section-content .tab-list > ul > li.active a span {
          width: 100%;
          margin-left: -50%; }
        .shop-list .section-content .tab-list > ul > li.active a:hover {
          opacity: 1; }
    .shop-list .section-content article {
      margin-top: 60px; }
      .shop-list .section-content article > ul > li .item-img {
        overflow: hidden; }
        .shop-list .section-content article > ul > li .item-img figure {
          transform: scale(1);
          -webkit-transform: scale(1);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
      .shop-list .section-content article > ul > li .details {
        position: relative;
        display: block;
        width: 70%;
        font-size: 18px;
        color: #2b2b2b;
        font-weight: 400;
        padding: 20px;
        text-align: left;
        font-family: 'Lora', serif;
        margin-top: -33px;
        background-color: #fff; }
      .shop-list .section-content article > ul > li:nth-of-type(3) ~ li .item-img {
        margin-top: 55px; }
      .shop-list .section-content article > ul > li:hover .item-img figure {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); }

.location section {
  padding: 0; }
  .location section .section-header {
    position: relative;
    height: 450px;
    padding: 0; }
    .location section .section-header:before {
      position: absolute;
      top: 0;
      width: 60%;
      height: 100%;
      display: block;
      content: "";
      background-size: cover;
      background-repeat: no-repeat; }
    .location section .section-header .container {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      margin-left: -600px; }
      .location section .section-header .container .details {
        height: 450px;
        padding-top: 60px;
        color: #fff; }
        .location section .section-header .container .details small {
          display: block;
          opacity: .5;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: .5px; }
        .location section .section-header .container .details h3 {
          font-size: 30px;
          font-weight: 400;
          font-family: 'Lora', serif;
          letter-spacing: 1px;
          margin: 20px 0 40px; }
        .location section .section-header .container .details address {
          display: block;
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;
          letter-spacing: .5px; }
        .location section .section-header .container .details ul {
          margin-top: 50px; }
          .location section .section-header .container .details ul li {
            display: block; }
            .location section .section-header .container .details ul li dl {
              overflow: hidden; }
              .location section .section-header .container .details ul li dl dt {
                font-size: 14px;
                float: left;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: .5px; }
                .location section .section-header .container .details ul li dl dt:after {
                  content: ":";
                  margin: 0 6px; }
              .location section .section-header .container .details ul li dl dd {
                font-size: 14px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: .5px; }
  .location section:nth-of-type(even) .section-header:before {
    right: 0;
    background-position: 100% 0; }
  .location section:nth-of-type(odd) .section-header:before {
    left: 0;
    background-position: 0 0; }
  .location section:nth-of-type(odd) .section-header .container .details {
    padding-left: 70px; }
  .location section.seoul-office .section-header {
    background-color: #2b3646; }
    .location section.seoul-office .section-header:before {
      background-image: url(/assets/images/office/bg_location01.jpg); }
    .location section.seoul-office .section-header .container .details {
      background-color: #2b3646; }
  .location section.japan-office .section-header {
    background-color: #6f828c; }
    .location section.japan-office .section-header:before {
      background-image: url(/assets/images/office/bg_location02.jpg); }
    .location section.japan-office .section-header .container .details {
      background-color: #6f828c; }
  .location section.warehouse .section-header {
    background-color: #798573; }
    .location section.warehouse .section-header:before {
      background-image: url(/assets/images/office/bg_location03.jpg); }
    .location section.warehouse .section-header .container .details {
      background-color: #798573; }
  .location section .maps {
    overflow: hidden;
    height: 450px;
    background-color: #f1f2f4; }
    .location section .maps img {
      width: auto;
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto; }

.inquiry-write {
  padding-top: 0;
  background-image: url(/assets/images/inquiry/bg_inquiry.jpg);
  background-position: 0 0; }
  .inquiry-write .section-header {
    padding: 90px 0 100px; }
    .inquiry-write .section-header h3 {
      font-size: 36px;
      color: #2b2b2b;
      font-family: 'Lora', serif;
      margin-bottom: 50px; }
    .inquiry-write .section-header p {
      font-size: 19px;
      color: #555;
      font-family: 'Maven Pro', sans-serif; }
  .inquiry-write .section-content .table-wrap .table {
    table-layout: fixed; }
    .inquiry-write .section-content .table-wrap .table tbody tr th {
      vertical-align: middle;
      width: 170px;
      border: 0;
      background: none; }
      .inquiry-write .section-content .table-wrap .table tbody tr th.v-top {
        padding-top: 15px;
        vertical-align: top; }
      .inquiry-write .section-content .table-wrap .table tbody tr th label {
        font-weight: 400;
        font-family: 'Lora', serif; }
        .inquiry-write .section-content .table-wrap .table tbody tr th label:after {
          content: " *"; }
    .inquiry-write .section-content .table-wrap .table tbody tr td {
      padding: 10px 0;
      border: 0;
      background: none; }
      .inquiry-write .section-content .table-wrap .table tbody tr td .form-group .form-control {
        width: 100%;
        height: 40px;
        border: 1px solid #fff; }
      .inquiry-write .section-content .table-wrap .table tbody tr td .form-group textarea {
        width: 100%;
        height: 280px !important; }
      .inquiry-write .section-content .table-wrap .table tbody tr td.s-form .form-group .form-control {
        width: 600px; }
  .inquiry-write .section-content .btn-area {
    text-align: right;
    margin-top: 30px; }
    .inquiry-write .section-content .btn-area p .btn-send {
      width: 170px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-family: 'Lora', serif;
      display: inline-block;
      background-color: #588973;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .inquiry-write .section-content .btn-area p .btn-send:hover {
        opacity: .7; }

/*# sourceMappingURL=style.css.map */
