@import 'common';

section {
    padding: 90px 0;
}

.section-header {
    padding-bottom: 40px;
    h4 {
        font-size: 36px;
        color: #2b2b2b;
        font-weight: 400;
        @include lora();
    }
}

.sub {
    padding-top: 100px;
}

// introduce
.introduce {
    .page-header {
        position: relative;
        padding: 150px 0 320px;
        background-image: url(/assets/images/introduction/bg_page_header.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        small {
            position: relative;
            opacity: 0;
            top: -50px;
            @include transition($duration: .8s, $delay: .3s);
            font-size: 23px;
            color: #000;
            font-weight: 500;
            display: block;
            margin-bottom: 30px;
        }
        h3 {
            position: relative;
            opacity: 0;
            top: -50px;
            @include transition($duration: .8s, $delay: .6s);
            font-size: 46px;
            color: #000;
            line-height: 58px;
            font-weight: 500;
            @include lora();
        }
        .summary {
            position: relative;
            opacity: 0;
            top: -50px;
            @include transition($duration: .8s, $delay: .9s);
            font-size: 19px;
            color: #000;
            font-weight: 400;
            line-height: 30px;
            margin-top: 70px;
        }
        .slogan {
            position: absolute;
            bottom: -201px;
            right: 0;
            opacity: 0;
            width: 60%;
            height: 202px;
            padding: 50px;
            background-color: rgba(39, 77, 95, .95);
            @include transition($duration: .8s, $delay: 1.2s);
            > p {
                position: relative;
                opacity: 0;
                right: -50px;
                @include transition($duration: .8s, $delay: 1.5s);
                font-size: 20px;
                color: #fff;
                font-weight: 400;
                line-height: 34px;
                text-align: left;
                @include lora();
            }
        }
        &.action {
            small {
                top: 0;
                opacity: 1;
            }
            h3 {
                top: 0;
                opacity: 1;
            }
            .summary {
                top: 0;
                opacity: 1;
            }
            .slogan {
                bottom: -101px;
                opacity: 1;
                > p {
                    right: 0;
                    opacity: 1;
                }
            }
        }
    }
    .mission-vision {
        padding: 160px 0 100px;
        background-color: #ecedef;
        .section-content {
            article {
                .item-img {
                    overflow: hidden;
                    figure {
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        @include transition($duration: .5s);
                        .img-fliud {
                            width: 100%;
                        }
                    }
                }
                .details {
                    height: 226px;
                    display: block;
                    padding: 40px;
                    background-color: #f7f7f7;
                    h5 {
                        font-size: 22px;
                        color: #2b2b2b;
                        @include lora();
                    }
                    p {
                        font-size: 18px;
                        color: #666;
                        line-height: 30px;
                        font-weight: 400;
                        margin-top: 30px;  
                        letter-spacing: -.5px;
                    }
                }
                figure {
                    .img-fluid {
                        width: 100%;
                    }
                }
                &:hover {
                    .item-img {
                        figure {
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    .history {
        .section-content {
            ol {
                li {
                    & ~ li {
                        margin-top: 20px;
                    }
                    dl {
                        /*overflow: hidden;*/
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                        dt {
                            position: relative;
                            /*float: left;*/
                            display: table-cell;
                            width: 200px;
                            font-size: 22px;
                            font-weight: 400;
                            color: #fff;
                            line-height: 70px;
                            text-align: center;
                            background-color: #8aac9d;
                            @include lora();
                            vertical-align: middle;
                            letter-spacing: 3px;
                            &:after {
                                position: absolute;
                                top: 50%;
                                right: -75px;
                                content: " ";
                                display: block;
                                height: 1px;
                                width: 75px;
                                background-color: #bfbfbf;
                            }
                            .circle {
                                position: absolute;
                                top: 50%;
                                right: -75px;
                                width: 10px;
                                height: 10px;
                                margin-top: -5px;
                                border-radius: 50%;
                                background-color: #bfbfbf;
                                
                            }
                        }
                        dd {
                            display: table-cell;;
                            font-size: 18px;
                            color: #666;
                            vertical-align: middle;
                            font-weight: 400;
                            padding-left: 100px;
                            line-height: 28px;
                        }
                    }
                    &:nth-of-type(odd) {
                        dl {
                            dt {
                                background-color: #588973;
                            }
                        }
                    }
                }
            }
        }
    }
}

// work
.work {
    .page-header {
        position: relative;
        overflow: hidden;
        figure {
            position: relative;
            left: -50px;
            opacity: 0;
            @include transition($duration: .8s, $delay: .5s);
        }
        .slogan {
            position: absolute;
            top: 90px;
            right: -50px;
            width: 55%;
            padding: 100px;
            background-color: rgba(244, 244, 244, .85);
            opacity: 0;
            @include transition($duration: .8s, $delay: .5s);
            small {
                position: relative;
                top: -50px;
                opacity: 0;
                @include transition($duration: .8s, $delay: 1.4s);
                font-size: 23px;
                color: #000;
                font-weight: 500;
                display: block;
                margin-bottom: 30px;
            }
            h3 {
                position: relative;
                top: -50px;
                opacity: 0;
                @include transition($duration: .8s, $delay: 1.8s);
                font-size: 46px;
                color: #000;
                line-height: 58px;
                font-weight: 500;
                @include lora();
            }
            p {
                position: relative;
                top: -50px;
                opacity: 0;
                @include transition($duration: .8s, $delay: 2.2s);
                font-size: 19px;
                color: #000;
                font-weight: 400;
                line-height: 30px;
                margin-top: 70px;
            }
        }
        &.action {
            figure {
                left: 0;
                opacity: 1;
            }
            .slogan {
                right: 0;
                opacity: 1;
                small {
                    top: 0;
                    opacity: 1;
                }
                h3 {
                    top: 0;
                    opacity: 1;
                }
                p {
                    top: 0;
                    opacity: 1;
                }
            }
        }
    }
    .process {
        .section-content {
            ul {
                li {
                    position: relative;
                    text-align: center;
                    .item-icon {
                        display: block;
                        width: 250px;
                        height: 250px;
                        line-height: 250px;
                        margin: 0 auto;
                        border-radius: 50%;
                        img {
                            display: inline-block;
                        }
                    }
                    &:after {
                        position: absolute;
                        top: 100px;
                        right: -14px;
                        content: url(/assets/images/business/icon_step_arrow.png);
                    }
                    &:last-child {
                        &:after {
                            content: "";
                        }
                    }
                    &:nth-of-type(1) {
                        .item-icon {
                            background-color: #798573;
                        }
                    }
                    &:nth-of-type(2) {
                        .item-icon {
                            background-color: #6f828c;
                        }
                    }
                    &:nth-of-type(3) {
                        .item-icon {
                            background-color: #2b3646;
                        }
                    }
                    .details {
                        margin-top: 30px;
                        text-align: center;
                        dl {
                            dt {
                                font-size: 30px;
                                font-style: italic;
                                font-weight: 400;
                                letter-spacing: 1px;
                                color: #2b2b2b;
                                @include lora();
                                margin-bottom: 20px;
                            }
                            dd {
                                font-size: 18px;
                                color: #666;
                                line-height: 30px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}

// brand
.brand-list {
    min-height: 870px;
    padding: 120px 0;
    background-image: url(/assets/images/brand/bg_brands.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .list-header {
        small {
            display: block;
            font-size: 23px;
            color: #1b1b1b;
            font-weight: 500;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 46px;
            color: #1b1b1b;
            line-height: 60px;
            letter-spacing: 1px;
            @include lora();
        }
        p {
            font-size: 19px;
            color: #555;
            font-weight: 400;
            margin-top: 70px;
        }
    }
    .section-content {
        margin-top: 90px;
        ul {
            li {
                a {
                    display: block;
                    figure {
                        img {
                            width: 100%;
                        }
                    }
                }
                &:nth-of-type(6) ~ li {
                    a {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

// brand-popup
#brand-popup {
    background-color: rgba(0, 0, 0, .7);
    .modal-dialog {
        max-width: 1170px;
        width: 1170px;
        margin-top: 170px;
        margin-bottom: 170px;
        .modal-content {
            border: 0;
            box-shadow: none !important;
            background: none;
            .modal-body {
                position: relative;
                overflow: hidden;
                width: auto;
                height: 100%;
                padding: 0;
                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    float: none;
                    width: 60px;
                    height: 60px;
                    display: block;
                    z-index: 1;
                    text-align: center;
                    padding: 0;
                    opacity: 1 !important;
                    border-radius: 0;
                    background-color: #798573;
                    img {
                        display: block;
                        margin: 0 auto;

                    }
                }
                figure {
                    float: left;
                    width: 750px;
                }
                .details {
                    float: left;
                    width: 240px;
                    height: 650px;
                    padding: 80px 50px 50px;
                    width: 420px;
                    overflow-y: scroll;
                    vertical-align: top;
                    background-color: #fff;
                    h4 {
                        font-size: 0;
                        img {
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    p {
                        font-size: 13px;
                        color: #666;
                        font-weight: 300;
                        word-break: keep-all;
                        line-height: 26px;
                        margin: 30px 0 50px;
                    }
                    a {
                        display: block;
                        font-size: 13px;
                        color: #666;
                        font-weight: 400;
                        &:before {
                            margin-right: 10px;
                            content: "\E802";
                            font-family: "fontello";
                        }
                    }
                }
            }
        }
    }
}

// shop-list
.shop-list {
    position: relative;
    padding: 90px 0 130px;
    .bg-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background-image: url(/assets/images/shop/bg_shop.jpg);
        background-position: 0 0;
    }
    .section-header {
        position: relative;
        z-index: 1;
        padding-bottom: 60px;
    }
    .section-content {
        position: relative;
        z-index: 1;
        .tab-list {
            > ul {
                > li {
                    display: inline-block;
                    text-align: center;
                    > a {
                        position: relative;
                        display: inline-block;
                        font-size: 19px;
                        color: #555;
                        font-weight: 400;
                        @include transition();
                        span {
                            position: absolute;
                            bottom: 0;
                            width: 0;
                            left: 50%;
                            height: 2px;
                            border-top: 1px solid #f87339;
                            border-bottom: 1px solid #edc1af;
                            @include transition();
                        }
                        &:hover {
                            color: #fe4d00;
                            opacity: .7;
                            span {
                                width: 100%;
                                margin-left: -50%;
                            }
                        }
                    }
                    &:after {
                        display: inline-block;
                        content: "/";
                        margin: 0 10px 0 12px;
                    }
                    &:last-child {
                        &:after {
                            content: "";
                            margin: 0;
                        }
                    }
                    &.active {
                        a {
                            color: #fe4d00;
                            opacity: 1;
                            span {
                                width: 100%;
                                margin-left: -50%;
                            }
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        article {
            margin-top: 60px;
            > ul {
                > li {
                    .item-img {
                        overflow: hidden;
                        figure {
                            transform: scale(1);
                            -webkit-transform: scale(1);
                            @include transition($duration: .5s)
                        }
                    }
                    .details {
                        position: relative;
                        display: block;
                        width: 70%;
                        font-size: 18px;
                        color: #2b2b2b;
                        font-weight: 400;
                        padding: 20px;
                        text-align: left;
                        @include lora();
                        margin-top: -33px;
                        background-color: #fff;
                    }
                    &:nth-of-type(3) ~ li {
                        .item-img {
                            margin-top: 55px;
                        }
                    }
                    &:hover {
                        .item-img {
                            figure {
                                transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

// location
.location {
    section {
        padding: 0;
        .section-header {
            position: relative;
            height: 450px;
            padding: 0;
            &:before {
                position: absolute;
                top: 0;
                width: 60%;
                height: 100%;
                display: block;
                content: "";
                background-size: cover;
                background-repeat: no-repeat;
            }
            .container {
                position: absolute;
                top: 0;
                left: 50%;
                z-index: 1;
                margin-left: -600px;
                .details {
                    height: 450px;
                    padding-top: 60px;
                    color: #fff;
                    small {
                        display: block;
                        opacity: .5;
                        font-size: 13px;
                        font-weight: 400;
                        letter-spacing: .5px;
                    }
                    h3 {
                        font-size: 30px;
                        font-weight: 400;
                        @include lora();
                        letter-spacing: 1px;
                        margin: 20px 0 40px;
                    }
                    address {
                        display: block;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 300;
                        letter-spacing: .5px;
                    }
                    ul {
                        margin-top: 50px;
                        li {
                            display: block;
                            dl {
                                overflow: hidden;
                                dt {
                                    font-size: 14px;
                                    float: left;
                                    font-weight: 300;
                                    line-height: 26px;
                                    letter-spacing: .5px;
                                    &:after {
                                        content: ":";
                                        margin: 0 6px;
                                    }
                                }
                                dd {
                                    font-size: 14px;
                                    font-weight: 300;
                                    line-height: 26px;
                                    letter-spacing: .5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(even) {
            .section-header {
                &:before {
                    right: 0;
                    background-position: 100% 0;
                }
            }
        }
        &:nth-of-type(odd) {
            .section-header {
                &:before {
                    left: 0;
                    background-position: 0 0;
                }
                .container {
                    .details {
                        padding-left: 70px;
                    }
                }
            }
        }
        &.seoul-office {
            .section-header {
                background-color: #2b3646;
                &:before {
                    background-image: url(/assets/images/office/bg_location01.jpg);
                }
                .container {
                    .details {
                        background-color: #2b3646;
                    }
                }
            }
        }
        &.japan-office {
            .section-header {
                background-color: #6f828c;
                &:before {
                    background-image: url(/assets/images/office/bg_location02.jpg);
                }
                .container {
                    .details {
                        background-color: #6f828c;
                    }
                }
            }
        }
        &.warehouse {
            .section-header {
                background-color: #798573;
                &:before {
                    background-image: url(/assets/images/office/bg_location03.jpg);
                }
                .container {
                    .details {
                        background-color: #798573;
                    }
                }
            }
        }
        .maps {
            overflow: hidden;
            height: 450px;
            background-color: #f1f2f4;
            img {
                width: auto;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

// inquiry-write
.inquiry-write {
    padding-top: 0;
    background-image: url(/assets/images/inquiry/bg_inquiry.jpg);
    background-position: 0 0;
    .section-header {
        padding: 90px 0 100px;
        h3 {
            font-size: 36px;
            color: #2b2b2b;
            @include lora();
            margin-bottom: 50px;
        }
        p {
            font-size: 19px;
            color: #555;
            @include maven();
        }
    }
    .section-content {
        .table-wrap {
            .table {
                table-layout: fixed;
                tbody {
                    tr {
                        th {
                            vertical-align: middle;
                            width: 170px;
                            border: 0;
                            background: none;
                            &.v-top {
                                padding-top: 15px;
                                vertical-align: top;
                            }
                            label {
                                font-weight: 400;
                                @include lora();
                                &:after {
                                    content: " *";
                                }
                            }
                        }
                        td {
                            padding: 10px 0;
                            border: 0;
                            background: none;
                            .form-group {
                                .form-control {
                                    width: 100%;
                                    height: 40px;
                                    border: 1px solid #fff;
                                }
                                textarea {
                                    width: 100%;
                                    height: 280px !important;
                                }
                            }
                            &.s-form {
                                .form-group {
                                    .form-control {
                                        width: 600px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: right;
            margin-top: 30px;
            p {
                .btn-send {
                    width: 170px;
                    line-height: 50px;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    @include lora();
                    display: inline-block;
                    background-color: #588973;
                    @include transition();
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}